<main>
  <h1>BOBKATA OFFICIAL</h1>
  <div class="menu container" role="menu"> 
    @for (item of menuItems; track $index) {
    <div tabindex="0" class="menu-item" role="menuitem" [attr.aria-expanded]="item.isOpen ? 'true' : 'false'"
    (keydown.enter)="toggleItem($index)" (click)="toggleItem($index)" >
      <h2 class="item-title">{{ item.title }}</h2>

      @if (item.isOpen) {
      <article class="item-content {{item.isOpen ? 'open' : ''}}" role="tabpanel">{{ item.content }}</article>
      @if (item.nestedList) {
        <ul role="list">
          @for (item of item.nestedList; track $index) {
            <li>{{ item }}</li>
          }
        </ul>
      }
      @if (item.link) {
        <a href="{{ item.link }}" target="_blank" class="item-link">{{item.linkdesc}}</a>
        }
      }
    </div>
    }
  </div>
</main>
<footer class="spacer layer"></footer>